{% extends "base.html" %}

{% block content %}
        <form method="post" action="/customportfolio/get_optimal_customportfolio_black_litterman">
            <h3>Run Custom Black Litterman Optimization</h3>

            <div>
                <input class="form-control" placeholder="GOOGL, AAPL, MSFT" name="assets">
            </div>


            <label>View 1</label>
            <div>
            <input class="form-control" placeholder="GOOGL > MSFT by 2%" name="view1">
            </div>

            <label>View 2</label>
            <div>
            <input class="form-control" placeholder="MSFT < AAPL by 3%" name="view2">
            </div>

            <button type="submit" class="btn btn-default">Optimize</button>
            <br>
            <label>Optimal Portfolio:</label>
            <div class="table-responsive">
            {{ data|safe}}
            </div>
        </form>

        <img src="../plot.png">

        <form method="post" action="/customportfolio/custom_save_data">
            <button type="submit" class="btn btn-default">Save Data</button>
        </form>

{% endblock %}