{% extends "base.html" %}

{% block content %}

    <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-left">
                                    <div class="huge">{{ Return|safe }}%</div>
                                    <div>Expected return</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- /.row -->
    <div class="row">
                <div class="col-md-3">
                    <div class="table-responsive">
                        {{ data|safe}}
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/plot.png" max-width:100% max-height:100%>
                </div>
    </div>
    <!-- /.row -->
{% endblock %}